{% extends 'base.html.twig' %}

{% block body %}
    {% for book in books %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="cs-book-thumbnail media-object" src="{{ asset("asset/img/book.png") }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ book.title }}</h4>
                <h5 class="media-heading">{{ book.writer }}</h5>
                <dl>
                    <dt>Publication date: </dt>
                    <dd>{{ book.publicationDate|date('Y-m-d') }}</dd>
                    <dt>Edition</dt>
                    <dd>{{ book.edition }}</dd>
                </dl>
            </div>
        </div>
    {% endfor %}
{% endblock %}
