{% extends 'base.html.twig' %}

{% block body %}
    {% for book in books %}
        <div class="media">
            <div class="media-left">
                <img
                    class="cs-book-thumbnail media-object"
                    src="{{ asset("assets/img/book.png") }}"
                    alt="{{ book.title }} image"
                >
            </div>
            <div class="media-body">
                <a href="{{ url("show_book", {'id': book.id}) }}">
                    <h4 class="media-heading">{{ book.title }}</h4>
                </a>
                <div class="media-heading">
                    {{ include('BookBundle::author_list.html.twig') }}
                </div>
                <dl>
                    <dt>Publication date: </dt>
                    <dd>{{ book.publicationDate|date('Y-m-d') }}</dd>
                    <dt>Edition</dt>
                    <dd>{{ book.edition }}</dd>
                </dl>
            </div>
        </div>
    {% endfor %}
{% endblock %}
