{% extends 'base.html.twig' %}

{% block title %}BookStore - {{ book.title }}{% endblock %}

{% block body %}
    <div class="cs-show-book-wrapper media">
        <div class="media-left">
            <img
                class="cs-show-book media-object img-thumbnail"
                src="{{ asset("assets/img/book.png") }}"
                alt="{{ book.title }} thumbnail"
            >
        </div>
        <div class="media-body">
            <dl>
                <dt>Title:</dt>
                <dd>{{ book.title }}</dd>
                <dt>Authors: </dt>
                <dd>
                    {{ include('BookBundle::author_list.html.twig') }}
                </dd>
                <dt>Publication date:</dt>
                <dd>{{ book.publicationDate|date('Y-m-d') }}</dd>
                <dt>Edition:</dt>
                <dd>{{ book.edition }}</dd>
                <dt>Price:</dt>
                <dd>{{ book.price }} €</dd>
            </dl>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ url("admin_edit_book", {'id': book.id}) }}">
                    <span class="cs-book-edit glyphicon glyphicon-pencil" />
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
